<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.herosorveteria">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HeroSorveteria">
        <activity android:name=".Activity.Despesas"></activity>
        <activity android:name=".Activity.CadastroUsuario" />
        <activity android:name=".Activity.HistoricoDeVendas" />
        <activity android:name=".Activity.CalculadoraTroco" />
        <activity android:name=".Activity.MenuActivity" />
        <activity android:name=".Activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>